.cv-display-div .heading{
    margin: 0.5rem;
}

.cv-content-div{
    padding: 2rem;
    border: 1px solid black;
}

.cv-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal-details-div{
    display: flex;
    flex-direction: column;
}

.name-title-div h1{
    margin: 0;
    font-size: 2.5rem;
}

p.title{
    margin: 0.2rem 0;
    font-size: 1.25rem;
    color: gray;

}

.header-content-border{
    background-color: teal;
    height: 0.5rem;
    margin: 1rem 0;
}

.description-text-div{
    margin: 1rem 0;
}