*{
  box-sizing: border-box;
  /* border: 1px solid gray; */
}

.App {
  /* text-align: center; */
}

div#content{
  display: flex;
}

.cv-inputs-div{
  /* height: 100vh; */
  background-color: aliceblue;
  width: 50%;
}

.cv-display-div{
  /* height: 100vh; */
  background-color: antiquewhite;
  width: 50%;
}